/* Subject Cards Component Styles */

.subject-card .subject-card-control {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.subject-card:hover .subject-card-control {
    opacity: 1;
}

.subject-card .set-representative.btn-outline-secondary {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color) !important;
}

.subject-card .set-representative.btn-outline-secondary:hover {
    background-color: var(--bs-body-bg);
    color: var(--bs-warning) !important;
}
