{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">MapRVA Georeference Tool</h1>
        <p class="lead">Georeference historical images of Richmond!</p>
        <div class="mb-4">
            <a href="/georeference/" class="btn btn-success btn-med">
                <i class="fas fa-map-marker-alt me-2"></i>Contribute
            </a>
            <a href="/browse/" class="btn btn-secondary btn-med">
                <i class="fas fa-eye me-2"></i>Browse Sources
            </a>
        </div>
    </div>
</div>
</main>

<!-- Full-width map that grows to fill remaining space -->
<div class="container-fluid px-0 flex-grow-1 d-flex">
    <div class="map-container w-100" style="min-height: 60vh;">
        {% include 'images/partials/map_display.html' with map_id='homepage-map' height='100%' border_radius='0' geolocate=True %}
    </div>
</div>
{% endblock %}
