<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embeddable Map</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    </style>
    {# The map partial relies on bootstrap for dropdowns and other UI elements #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'images/partials/map_display.html' with height='100vh' width='100vw' border_radius='0' image_id=image_id collection_id=collection_id source_id=source_id subject_id=subject_id center_lng=center_lng center_lat=center_lat zoom_level=zoom_level include_geocoder=include_geocoder enable_scale_visibility=enable_scale_visibility zoom_to_contents=zoom_to_contents geolocate=geolocate hash=hash map_id=map_id %}
</body>
</html>
